/* mobile    */
@media (max-width:740px) {
    .header .container-header {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 60px;   
    }
    
    
    .header-logo {
        order: 0.5;
        margin:10px 0px 0px 10px;
       
      /* Đặt chiều rộng cố định cho logo */
    }
    
    .header-nav {
        order: 3;
        margin-top: 10px;
    }
    
    .header-login {
        order: 2;
        margin-top: 10px;
    }
    
    .header nav ul, .header-login nav ul {
        flex-direction: column;
    }
    
    .header nav ul li, .header-login nav ul li {
        margin: 5px 0;
    }
    
    /* Hiển thị nút trên thiết bị di động */
    .nav-toggle {
       position: absolute;
       top: 5px;
       right: 5px;
    }
    
    .nav-toggle button {
        /* Kiểu dáng cho nút menu */
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
    
    /* Biểu tượng menu (ví dụ: sử dụng biểu tượng thanh hamburger) */
    .nav-toggle button::before {
        content: '\2630'; /* Thêm biểu tượng thanh hamburger */
        font-size: 20px;
        color: #000; /* Màu của biểu tượng */
    }
    /* Ẩn các nav trên thiết bị di động */
    .header-nav.active,
    .header-login.active {
        display: block;
        background-image: linear-gradient(to right, #58f3e6, #008cff);
        margin-top: 0;
    }
    
    /* Hiển thị các nav khi nút được nhấp vào */
    .header-nav,
    .header-login {
        display: none;
        
    }
    /*  */

    #slide {
        padding-top: 50%;
    }
    .container {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        box-shadow: 0 30px 50px #dbdbdb;
    }
    .container .slide .item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 60%;
        transform: translate(0, -50%);
        border-radius: 20px;
        
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        transition: 0.5s;
    }
    .slide  .item:nth-child(1),
    .slide  .item:nth-child(2) {
        top: 0;
        left: 0;
        transform: translate(0,0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .slide  .item:nth-child(n+3) {
        display: none;
    }
    .slide .item {
        position: relative; /* Đặt phần tử cha của nút "Next" và "Previous" */
    }   
    .slide button {
        
             /* Đặt vị trí tuyệt đối */
            top: 50%; /* Đặt vị trí theo chiều dọc */
            transform: translateY(-50%); /* Dịch chuyển nút lên trên 50% */
            z-index: 2; /* Đảm bảo nút nằm trên ảnh */
            bottom: 2.5%;
        
    }
    .slide button:hover {
        background-color: #ababab;
        
    }
    .item .content {
        position: absolute;
        top: 50%;
        left: 5%;
        width: 60%;
        text-align: left;
        color: #eee;
        transform:translate(0, -50%) ;
        font-family: system-ui;
        display: none;
    }
    
    .slide .item:nth-child(2) .content {
        display: block;
    }
    .slide button.prev {
        left: 10px; /* Đặt nút "Previous" bên trái */
    }
    
    .slide button.next {
        right: 10px; /* Đặt nút "Next" bên phải */
    }
    
    .content .name {
        font-size: 18px; 
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        animation: animate 1s ease-in-out 1 forwards;
    }
    
    .content .des {
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: 0;
        animation: animate 1s ease-in-out 0.3s 1 forwards;
    }
    .content .button {
        padding: 5px 4px;
        border: none;
        cursor: pointer;
        opacity: 0;
        animation: animate 1s ease-in-out 0.6s 1 forwards;
    }
    @keyframes animate {
        from {
            opacity:0 ;
            transform: translate(0, 100px);
            filter: blur(33px);
        }
        to {
            opacity: 1;
            transform: translate(0);
            filter: blur(0);
        }
    }
    .button {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }
    .button button {
        width: 40px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        border: 1px solid #000;
        transition: 0.3s;
    }
    
    .button button:hover {
        background-color: #ababab;
        color: #fff;
    }   
    
}

/* Điều chỉnh cho màn hình lớn hơn 740px
@media (min-width: 741px) {
    .nav-toggle {
        display: none; /* Ẩn nút menu
    }
} */
@media (min-width: 740px) AND (max-width:1023px){
    .slide  .item:nth-child(5) {
        left: calc(53% + 210px);
    }
    .slide  .item:nth-child(6) {
        left: calc(53% + 210px);
        opacity: 0;
    }
    /* Điều chỉnh cho màn hình từ 740px đến 1023px */
    /* Hiển thị nút menu trên thanh header */
    .nav-toggle {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .nav-toggle button {
        /* Kiểu dáng cho nút menu */
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
    
    /* Biểu tượng menu (ví dụ: sử dụng biểu tượng thanh hamburger) */
    .nav-toggle button::before {
        content: '\2630'; /* Thêm biểu tượng thanh hamburger */
        font-size: 20px;
        color: #000; /* Màu của biểu tượng */
    }

    /* Ẩn các nav đi ban đầu */
    .header-login,
    .header-explore {
        display: none;
    }
     .header-login nav ul {
        flex-direction: column;
    }

    /* Hiển thị các nav khi nút menu được nhấp vào */
    .header-login.active,
    .header-explore.active {
        display: block;
        position: absolute;
        top: 60px; /* Khoảng cách từ header đến các nav */
        right: 0;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to right, #58f3e6, #008cff);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    }

    /* Tùy chỉnh kiểu dáng cho mỗi nav */
    .header-login.active ul li,
    .header-explore.active ul li {
        margin: 5px 0;
        list-style: none;
    }

}


/*Hotel*/
/*mobie*/
@media only screen and (max-width: 46.1875em) {
    .radio-input span {
        font-size: 10px;
        font-family: Arial;
        font-weight: 520;
    }
    .radio-input {
        --container_width: 150px;
        height: 30px;
    }
    .bg_hotel {
        height: 90vh;
    }
    .box {
        width: 100%;
    }
    table {
        margin-left: 0;
        margin-top: 0;
    }
    .goiY {
        font-size: 10px;
    }
    .diaChi{
        width: 80%;
        height: 30px;
        padding-left: 5px;
    }
    #ngaydi {
        width: 40%;
        height: 30px;
        padding-left: 5px;
        margin-right: auto;
    }
    #ngayve {
        width: 40%;
        height: 30px;
        padding-left: 5px;
    }
    .tuoi {
        width: 40%;
        height: 30px;
    }
    .table_hotel {
        width: 95%;
    }
    #bg_hotel {
        height: 80vh;
      
    }
    .pic_partner td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
    .sug-partner {
        padding: 0px 60px;
    }

    .pic_partner {
        right: auto;
    }
    .pic-par {
        max-width: 60%;
    }
    .pic_partner td {
        width: auto;
    }
    .pic_partner tr {
        height: auto;
    }
    /* Hiển thị chỉ 3 cột đầu tiên */
    td:nth-child(4) , td:nth-child(5) {
        display: none;
    }
    #xe1,
    #xe2{
        width: 40%;
        height: 30px;
    }
    #sub-xe {
        width: 29%;
        min-height: 30px;
        margin-left: 25%;
        float: none;
    }
    .dong {
        width: 500px;
    }
    .box {
        width: 80%;
    }
    .title-car {
        margin-top: -20px;
        margin-bottom: 10px;
    }
}
/*tablet*/
@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .box {
        width: 550px;
    }
    .box table {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 20px;
    }
    .pic_partner {
        justify-content: center;
    }
    #bg_hotel {
        height: 80vh;
    }
    .title-car {
        margin-bottom: 20px;
    }
    
}
/*mobie and tablet*/
@media only screen and (max-width:63.9375em) {
    .table_hotel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        width: auto;
        height: auto; 
        font-size: inherit; 
        float: none;
    }
    .sug_hotel {
        padding: 0px 20px;
    }
    .container-se {
        width: auto;
    }
    .sug-partner {
        flex-direction: column;
    }
    .introduct-par {
        text-align: center;
        padding-bottom: 10px;
    }
    
  
    #sub {
        float: none;
    }
    
}